<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td>To do 1</td>
            <td><input type="text" name="todo1" required></td>
        </tr>
        <tr>
            <td>To do 2</td>
            <td><input type="text" name="todo2" required></td>
        </tr>
        <tr>
            <td>To do 3</td>
            <td><input type="text" name="todo3" required></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>